@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

body, #root, .App{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    font-family: Poppins;
    overflow-x: hidden;
}
body *{
    background-position: center;
    background-repeat: no-repeat;
}





header{
    width: 100%;
    height: 15vh;
    display: flex;
    background-color: #0064D2;
}
header i{
    width: 10vh;
    height: 4vh;
    margin: auto;
    margin-left: 10vh;
    margin-right: 5vh;
    background-image: url(../Images/Icone.png);
    background-size: contain;
}
header ul {
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 0;
    list-style: none;
    margin: auto;
    margin-left: 0;
    color: white;
    font-weight: 500;
    grid-gap: 3vh;
    font-size: 1vw;
}
header ul li{
    cursor: pointer;
}
header button{
    width: fit-content;
    height: fit-content;
    border: none;
    cursor: pointer;
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: .75vw;
}
header #btnSignIn{
    background-color: transparent;
    margin: auto;
    margin-right: 0;
    color: white;
}
header #btnRegister{
    color: #0064D2;
    margin: auto;
    margin-left: 3vh;
    margin-right: 0;
    background-color: #FEDE00;
    border-radius: 5px;
    padding: 1vh 3vh;
}
header span{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-left: 4vh;
    margin-right: 4vh;
    border-left: 1px solid rgba(255, 255, 255, 0.438);
    padding-inline-start: 5vh;
    display: block;
}
header span select{
    width: 15vh;
    height: 4vh;
    border: none;
}
header span select option{
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    border: 2px solid white;
}
header span img{
    width: 4vh;
    height: 4vh;
    border-radius: 100%;
    border: 2px solid white;
}





.sectionOne{
    width: 100%;
    min-height: 80vw;
    background-color: #0064D2;
    display: inline-block;
}
.sectionOne h1{
    width: fit-content;
    margin: 8vw auto auto auto;
    font-size: 4vw;
    color: white;
    text-align: center;
    line-height: 5vw;
    display: block;
    font-weight: 500;
}
.sectionOne .divBook{
    width: 70%;
    height: 10vh;
    background-color: white;
    border-radius: 90px;
    margin: 3vw auto auto auto;
    display: grid;
    grid-template-columns: 90% 10%;
}
.sectionOne .divBook div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.sectionOne .divBook div span{
    width: 100%;
    height: 100%;
    display: flex;
}
.sectionOne .divBook div span .divImage{
    width: 2vw;
    height: 2vw;
    background-size: contain;
    margin: auto 1vw auto 3vw;
    filter: opacity(.3);
}
.sectionOne .divBook div span:nth-child(1) .divImage{
    background-image: url(../Images/MarkerIcon.svg);
}
.sectionOne .divBook div span:nth-child(2) .divImage{
    background-image: url(../Images/CalendarIcon.svg);
}
.sectionOne .divBook div span:nth-child(3) .divImage{
    background-image: url(../Images/UserIcon.svg);
}
.sectionOne .divBook div span div:nth-child(2){
    width: 80%;
    height: fit-content;
    display: block;
    margin: auto;
    margin-left: 1vw;
    border-right: 1.5px solid rgb(228, 228, 228);
}
.sectionOne .divBook div span div:nth-child(2) h3{
    font-weight: 500;
    color: #8B9EAA;
    font-size: .8vw;
    margin: 0vw 0vw .2vw 0vw;
}
.sectionOne .divBook div span div:nth-child(2) select{
    width: fit-content;
    border: none;
    font-family: Poppins;
    font-size: .9vw;
    font-weight: 500;
    color: #4A5661;
    margin-left: -5px;
    padding-inline-end: .7vw;
    cursor: pointer;
}
.sectionOne .divBook div span div:nth-child(2) select option{
    font-size: .7vw;
}

.sectionOne .divBook button{
    width: 45%;
    height: 60%;
    margin: auto;
    border-radius: 100%;
    border: none;
    background-color: #FEDE00;
    cursor: pointer;
    background-image: url(../Images/SearchIcon.svg);
    background-size: 35%;
}

.spanTextDecoration{
    position: absolute;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    z-index: 0;
    margin-bottom: 0;
}

.sectionOne .spanTextDecoration{
    font-size: 33vw;
    margin: -15vw auto auto -10vw;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
}
#spanMobile{
    width: 100%;
    height: 45vw;
    background-image: url(../Images/MobileVersion.svg);
    background-size: contain;
    margin: 7vw auto auto auto;
    display: block;
    position: absolute;
}

.divDecorations{
    width: 100%;
    min-height: 20vw;
}
.divDecorations i{
    width: 7vw;
    height: 7vw;
    display: block;
    background-image: url(../Images/AirplaneIcon.svg);
    background-size: contain;
}
.divDecorations i:nth-child(1){
    transform: scaleY(-1) scaleX(-1);
    margin: 15vw auto auto -1vw;
}
.divDecorations i:nth-child(2){
    transform: scaleY(-1) scaleX(-1);
    margin: -10vw auto auto 20vw;
}
.divDecorations i:nth-child(3){
    margin: -2vw 10vw auto auto;
}
.divDecorations i:nth-child(5){
    margin: 0vw 18vw auto auto;
}
.divDecorations span{
    width: 12vw;
    height: 16vw;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 75% auto;
    background-color: white;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.divDecorations span:nth-child(4){
    margin: 0vw auto auto 8vw;
}
.divDecorations span:nth-child(6){
    margin: -8vw 4vw auto auto;
}
.divDecorations span img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.divDecorations span p{
    text-align: center;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: .5px;
}

.spanGlobo{
    width: 150%;
    height: 50vw;
    margin-left: -25%;
    display: block;
    background-image: linear-gradient(0deg, white, #FEDE00);
    border: 1.5vw solid #267AD3;
    border-bottom: 0;
    z-index: -2;
    margin-top: -20vw;
    border-top-right-radius: 60%;
    border-top-left-radius: 60%;
}




.sectionTwo{
    width: 85%;
    height: fit-content;
    margin: -17vw auto auto auto;
    background-color: rgb(255, 255, 255);
}
.sectionTwo aside{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
}
.spanText{
    width: fit-content;
    height: fit-content;
    color: #267AD3;
    padding: .9vw 1.5vw;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: .7vw;
    text-transform: uppercase;
}
.sectionTwo .spanText{
    background-color: #DADDD5;
}
.sectionTwo aside article h1{
    font-size: 3vw;
    line-height: 4vw;
    margin: 0;
    margin-top: 1vw;
}
.sectionTwo aside article h2{
    font-size: 1vw;
    font-weight: 500;
    margin-left: auto;
    line-height: 2vw;
}
.sectionTwo aside article:nth-child(2) div{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.sectionTwo aside article:nth-child(2) div span h3:nth-child(1){
    font-size: 1.5vw;
    margin: 2vw 0vw 0vw 0vw;
}
.sectionTwo aside article:nth-child(2) div span h3:nth-child(2){
    font-size: 2.5vw;
    margin: 0;
    color: #267AD3;
}

.sectionTwo aside:nth-child(2){
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(10, 15vw);
    white-space: nowrap;
    margin-top: 3vw;
    grid-gap: 2vw;
}
.sectionTwo aside:nth-child(2) img{
    width: 100%;
    height: fit-content;
    border-radius: 7px;
}



.sectionThree{
    width: 90%;
    height: 10vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 5vw auto 5vw auto;
}
.sectionThree img{
    width: 60%;
    margin: auto;
}



.sectionFour{
    width: 100%;
    background-color: white;
    z-index: 5;
    padding-bottom: 7vw;
    position: relative;
}
.sectionFour .spanText{
    background-color: #D8E9F6;
    margin: auto;
    display: flex;
}
.sectionFour h1{
    font-size: 3vw;
    line-height: 4.5vw;
    margin: 0;
    margin-top: 1vw;
    text-align: center;
}
.sectionFour .spanTextDecoration{
    font-size: 28vw;
    margin: -20vw auto auto 55vw;
    -webkit-text-stroke-color: #ECF2FF;
    z-index: -1;
}
.sectionFour aside{
    width: 85%;
    height: 50vw;
    display: grid;
    margin: auto;
    margin-top: 3vw;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2.5vw;
}
.sectionFour article{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 2.5vw;
}
.sectionFour article span{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
    color: white;
    box-shadow: inset 0px -30px 60px rgba(0, 0, 0, 0.452);
}
.articleFirstBig{
    grid-template-rows: 60% auto;
}
.articleFirstBig span:nth-child(1) h2{
    margin-top: 23vw;
}
.articleFirstBig span:nth-child(2) h2{
    margin-top: 12vw;
}
.articleFirstSmall span:nth-child(1) h2{
    margin-top: 12vw;
}
.articleFirstSmall span:nth-child(2) h2{
    margin-top: 23vw;
}
.articleFirstSmall{
    grid-template-rows: auto 60%;
}
.sectionFour article span h2{
    margin-bottom: 0;
    margin-left: 2vw;
    font-size: 2vw;
}
.sectionFour article span p{
    margin: 0;
    font-size: .8vw;
    margin-left: 2vw;
}


.sectionFive{
    width: 100%;
    background-color: #F6FAFF;
    z-index: 0;
    display: block;
    padding-bottom: 6vw;
}
.sectionFive .spanTextDecoration{
    font-size: 18vw;
    margin: -10vw auto auto -8vw;
    -webkit-text-stroke-color: #E7F0F9;
}
.sectionFive .spanText{
    background-color: #D1E3F8;
    color: #1C70D5;
    margin-top: 5vw;
    display: inline-block;
    z-index: 5;
    position: relative;
}
.sectionFive aside:nth-child(2){
    width: 80%;
    display: flex;
    margin: auto;
}
.sectionFive aside article h1{
    margin-top: 1vw;
    position: relative;
    font-size: 3vw;
    line-height: 4.5vw;
    margin: 0;
    margin-top: 1vw;
}
.sectionFive aside article:nth-child(2){
    display: flex;
    margin: 10vw auto auto auto;
    z-index: 5;
}
.sectionFive aside article:nth-child(2) p{
    font-size: .9vw;
}
.sectionFive aside article:nth-child(2) div{
    display: flex;
    grid-gap: 1vw;
    margin-left: 7vw;
}
.sectionFive aside article:nth-child(2) div button{
    width: 2vw;
    height: 2vw;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    background-size: 55%;
    background-position: center;
}
.sectionFive aside article:nth-child(2) div button:nth-child(1){
    transform: scaleX(-1);
}
#active{
    background-color: #FEDE00;
    background-image: url(../Images/ArrowActiveIcon.svg);
}
#inactive{
    background-color: #E8F1FD;
    background-image: url(../Images/ArrowInactiveIcon.svg);
}
.sectionFive aside:nth-child(3){
    width: 90%;
    height: 25vw;
    margin: 3vw auto auto auto;
    display: flex;
    grid-gap: 3vw;
}
.sectionFive aside:nth-child(3) .spanBook{
    height: 100%;
    width: 20vw;
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 60% 5% auto auto;
}
.spanBook:nth-child(1) .divImage{
    background-image: url(https://images.unsplash.com/photo-1520285774798-2f1616131a68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}
.spanBook:nth-child(2) .divImage{
    background-image: url(https://images.unsplash.com/photo-1566073771259-6a8506099945?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}
.spanBook:nth-child(3) .divImage{
    background-image: url(https://images.unsplash.com/photo-1568495248636-6432b97bd949?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
}
.spanBook:nth-child(4) .divImage{
    background-image: url(https://images.unsplash.com/photo-1555394677-697c896f889e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
}
.sectionFive aside:nth-child(3) span .divImage{
    width: 93%;
    height: 93%;
    border-radius: 5px;
    background-size: cover;
    display: grid;
    margin: auto;
}
.divImage span{
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: .5vw .7vw;
    background-color: white;
    border-radius: 30px;
    font-size: .8vw;
    font-weight: 500;
}
.divImage span p{
    margin: auto;
}
.divImage span p:nth-child(2){
    font-size: .6vw;
}
.divImage span div{
    width: 1vw;
    height: 1vw;
    margin: auto;
    margin-right: 1vw;
    background-size: contain;
}
.divImage span:nth-child(1) div{
    background-image: url(../Images/StarIcon.svg);
}
.divImage span:nth-child(2) div{
    background-image: url(../Images/Marker2Icon.svg);
}

.divImage span:nth-child(1){
    margin: 1vw;
}
.divImage span:nth-child(2){
    margin: 1vw;
    margin-top: auto;
}

.spanBook div:nth-child(2){
    width: 55%;
    display: flex;
    margin: 1vw auto auto 2vw;
    grid-gap: 2vw;
}
.spanBook div:nth-child(2) span{
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto;
    margin-left: 0;
}
.spanBook div:nth-child(2) span img{
    width: 1.2vw;
    height: 1.2vw;
}
.spanBook div:nth-child(2) span p{
    margin: auto;
    font-size: .7vw;
    margin-left: 1vw;
    white-space: nowrap;
    color: #8B9EAA;
}
.spanBook div:nth-child(2) span:nth-child(3){
    width: 2vw;
    height: 2vw;
    background-color: rgb(255, 254, 254);
    display: flex;
    margin: -2.5vw auto auto 14vw;
    border-radius: 100%;
    border: .2vw solid whitesmoke;
    background-size: 40%;
    cursor: pointer;
    position: absolute;
}
#spanUnfavorite{
    background-image: url(../Images/HeartIcon.svg);
}
.spanBook h2{
    width: 80%;
    font-size: 1vw;
    margin: 1.5vw auto auto 2vw;
}
.spanBook div h3{
    margin: 0;
    font-size: 1.5vw;
    margin: auto -1.2vw auto 2vw;
    color: #0064D2;
}
.spanBook div div div h4{
    width: fit-content;
    margin: auto;
    display: block;
    font-size: .7vw;
    font-weight: 500;
    color: rgb(189, 188, 188);
    margin-left: 2vw;
    text-decoration: line-through;
}
.spanBook div h4{
    margin: 0;
    font-size: .6vw;
    font-weight: 500;
    color: rgb(27, 27, 27);
    margin-left: 2vw;
}
.spanBook .btnChoose{
    width: fit-content;
    height: fit-content;
    background-color: #FEDE00;
    color: #0064D2;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-family: Poppins;
    font-size: .7vw;
    margin: auto;
    margin-right: 1.5vw;
    padding: .7vw 1.5vw;
    cursor: pointer;
}